/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  white-space: pre-wrap;
  word-break: break-all;
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: 0.55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}

.bg-style {
  background-color: #4a37be;
  color: white;
}

.navbar {
  background-color: #4a37be !important;
}

.nav-link {
  color: white !important;
  font-weight: 800 !important;
  padding: 0.5rem !important;
  border-radius: 11px !important;
}

.nav-link:hover {
  color: black !important;
  background-color: white !important;
}

.call-to-action-button {
  color: white !important;
  background-color: #4a37be !important;
  font-weight: 800 !important;
  padding: 0.5rem !important;
  border-radius: 11px !important;
}

.call-to-action-button-inverse {
  color: #4a37be !important;
  background-color: white !important;
  font-weight: 800 !important;
  padding: 0.5rem !important;
  border-radius: 11px !important;
}

.call-to-action-column {
  padding-top: 10px;
  color: white;

  background-color: #4a37be !important;
  border-radius: 11px !important;
  border: 3px !important;
}

.call-to-action-button:hover {
  color: white !important;
  background-color: #4a37be !important;
}

